<div class="product-card" >
  @if (product().discount > 0) {
    <p class="promotion-indicator">-{{product().discount}}%</p>
  }
  <div class="product-card-container">
    <app-card [cardImage]="product().image" [width]="cardWidth" [height]="cardHeight" [cardName]="product().name" [id]="product().id"></app-card>
  </div>

  <div class="info-container">
    <div class="title-container">
      <h3>{{ product().name }}</h3>
      <app-stock-indicator [stockValue]="product().stock"></app-stock-indicator>
    </div>

    <div class="price">
      <app-price-indicator [price]="product().price" [discount]="product().discount"></app-price-indicator>
    </div>
  </div>



  <button class="add-cart-button" (click)="addToCart()">
    Ajouter au panier
  </button>
</div>
