section {
  margin: 32px 0;
}

h2 {
  margin: 0 auto 32px auto;
  text-align: center;
  font-family: 'Jersey25', sans-serif;
  font-size: 48px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
