<div class="product">
  <p class="promotion-indicator">-{{product().discount}}%</p>
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">
        <app-card [cardImage]="product().card.image" [width]="widthCard" [height]="heightCard" [cardName]="product().card.name" [id]="product().card.id"></app-card>
      </div>
    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h3>{{ product().card.name }}</h3>
      <span>ref : {{product().card.id}}</span>
      <app-stock-indicator [stockValue]="product().stock"></app-stock-indicator>
    </div>
    <div class="price">
      <app-price-indicator [price]="product().price" [discount]="product().discount"/>
    </div>
    <button class="buy--btn" (click)="addToCart()">Ajouter aux panier</button>
  </div>
</div>
