.banner {
  position: relative;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  background-color: var(--background-second);
}

.element-container {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.element-container img {
  width: auto;
  height: 180px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  gap: 8px;
}

@media screen and (max-width: 1020px) {
  .card-container app-card:nth-child(4) {
    display: none;
  }

  .card-container app-card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .card-container{
    display: none;
  }

  img{
    width: 53.7vw !important;
    height: auto !important;
  }
}
