<div class="card flex justify-center">
<p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
        <div class="flex flex-col h-full">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                <span class="drawer-title">Pokecarte</span>
                <span>
                    <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-8 w-8" severity="info"></p-button>
                </span>
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-0 m-0 overflow-hidden">
                  @for (item of items(); track $index){
                    @if($index === 4){
                      @if (!isAuthenticated() && $index === 4) {
                        <li>
                            <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple" routerLink="/login">
                                <span class="font-medium">Connexion</span>
                            </a>
                        </li>
                      }
                    }@else {
                      <li>
                          <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple" [routerLink]="item.url">
                              <span class="font-medium">{{item.label}}</span>
                          </a>
                      </li>
                    }
                  }
                </ul>
            </div>
        </div>
    </ng-template>
</p-drawer>
<p-button (click)="visible = true" icon="pi pi-bars" variant="text"severity="info"/>
</div>
