.drawer-title {
  font-size: 32px;
  font-weight: 700;
  margin-right: 16px;
}

.list-none {
  list-style: none;
  color: var(--text-disable);
}

.list-none {
  li{
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 4px 12px;
    border-radius: 80px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: var(--text);
  }
}
