<footer class="footer-basic">
  <div class="social">
    @for (socialNetwork of socialNetworks; track $index){
      <a href="{{socialNetwork.link}}" target="_blank">
        <i class="{{socialNetwork.icon}}" style="font-size: 2rem"></i>
      </a>
    }
  </div>

  <ul class="list-inline">
    @for(page of appPages; track $index){
      <li class="list-inline-item">
        <a routerLink="{{page.link}}">{{page.name}}</a>
      </li>
    }
  </ul>

  <p class="copyright">{{nameApp}} © 2025</p>
</footer>
