.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 8px;
  border: 0;
  border-radius: 16px;
  background-color: inherit;
  color: var(--darkGreen);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-weight: 600;
  font-size: 14px;
}

.dropdown button:hover {
  background-color: inherit;
  box-shadow: 0 0 0 var(--claret);
  transform: scale(1);
  cursor: pointer;
}

.dropdown button:active {
  background-color: rgba(34, 49, 39, 0.5);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.dropdown input[type=text] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: var(--lightGrey);
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
}

.dropdownContent {
  display: none;
}

.dropdownContentIsVisible {
  display: flex;
  flex-direction: column;
}
