.filter-section {
  border-radius: 8px;
  overflow: hidden;
  width: 220px;
  margin-bottom: 8px;
}

.filter-section h4 {
  background-color: var(--claret);
  color: var(--text);
  margin: 0;
  font-size: 18px;
}
