<div class="header">
  <p-megamenu [model]="items()" [style]="{ 'border-radius': '0', display: 'flex' }" class="p-4 bg-surface-0 dark:bg-surface-900">
    <ng-template #start>
      <h1 class="text-3xl font-bold">{{nameApp}}</h1>
    </ng-template>

    <ng-template #item let-item>
      @if(item.label === items()[0].label){
        <a pRipple class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase" [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span>{{ item.label }}</span>
        </a>
      }@else {
        <a pRipple class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase" [routerLink]="item.url" routerLinkActive="active">
          <span>{{ item.label }}</span>
        </a>
      }
    </ng-template>

    <ng-template #end>
      <app-cart-button></app-cart-button>
      @if(isAuthenticated()){
        <app-user-button></app-user-button>
      }
    </ng-template>
  </p-megamenu>
</div>
