<header>
  <div class="header-start">
    <h1>{{nameApp}}</h1>
    <nav>
      <ul class="navbar-list">
        @for (navbarItem of navbarItems; track $index){
          @if ($index === 1) {
            <li class="navbar-item"><a [routerLink]="navbarItem.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{navbarItem.name}}</a></li>
          }@else {
            <li class="navbar-item"><a [routerLink]="navbarItem.link" routerLinkActive="active">{{navbarItem.name}}</a></li>
          }
        }
      </ul>
    </nav>
  </div>

  <div class="header-end">
    <app-header-searchbar></app-header-searchbar>
    <app-cart-button></app-cart-button>
    @if(isAuthenticated()){
      <app-user-button></app-user-button>
    }
  </div>
</header>
