:host {
  --p-megamenu-base-item-border-radius: 100px;
  --p-megamenu-item-focus-background: var(--secondary);
  --p-megamenu-mobile-button-color: var(--accent);
  --p-megamenu-mobile-button-hover-color: var(--accent);
}

.header{
  box-shadow: 0 3px 15px gray;
}

a {
  border-radius: 100px;
}

.active {
  background-color: var(--secondary);
}

@media screen and (min-width: 960px) {
  h1{
    font-size: 48px;
    margin-right: 16px;
  }
}



