<p-speeddial [model]="items" direction="down" [transitionDelay]="80" class="user-button">

  <ng-template pTemplate="button" let-toggleCallback="toggleCallback">
    <p-button ariaLabel="user button" class="user-button" outlined styleClass="border" [rounded]="true" (click)="toggleCallback($event)" severity="info">
      @if (user){
        {{user.username.at(0)?.toUpperCase()}}
      }
    </p-button>
  </ng-template>

  <ng-template #item let-item let-toggleCallback="toggleCallback">
      <div class="flex flex-col items-center justify-between gap-2 p-2 border rounded border-surface-200 dark:border-indigo-700 w-20 bg-white cursor-pointer" (click)="toggleCallback($event, item)">
          <span [class]="item.icon"></span>
          <span class="label">{{ item.label }}</span>
      </div>
  </ng-template>
</p-speeddial>
