:host {
  --p-button-outlined-info-color: var(--accent);
  --p-button-outlined-info-color  : var(--accent);
  --p-button-outlined-info-border-color   : var(--accent);
}

:host ::ng-deep .p-speeddial {
  margin-right: 16px;
}

:host ::ng-deep .p-speeddial-list {
  position: absolute;
  top: 64px;
}

.pi{
  color: var(--accent);
}

.label{
  font-size: 12px;
  color: var(--accent);
}
