<p-speeddial [model]="items" direction="down" [transitionDelay]="80" class="user-button">
  <ng-template pTemplate="button" let-toggleCallback="toggleCallback">
    <p-button class="user-button" outlined styleClass="border" [rounded]="true" (click)="toggleCallback($event)" severity="info">
      U
    </p-button>
  </ng-template>
  <ng-template pTemplate="item" let-item let-toggleCallback="toggleCallback" >
    <div class="user-button-item" (click)="toggleCallback($event, item)">
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </div>
  </ng-template>
</p-speeddial>
